{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Gallery</h2>
            <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li class="active">Gallery</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <section id="aa-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-gallery-area">
            <div class="aa-title">
              <h2>Gallery View</h2>
              <span></span>
              <p>Here is all of our Apartment ,becholor room, Flat Image</p>
            </div>
            <!-- Start gallery -->
            <div class="aa-gallery-content">
              <div class="aa-gallery-top">
                <!-- Start gallery menu -->
               <ul>
                  <li data-filter="all" class="filter active">All</li>
                  <li data-filter=".apartment" class="filter">Apartment</li>
                  <li data-filter=".livingroom" class="filter">Flat</li>
                  <li data-filter=".bedroom" class="filter">Becholor Room</li>
                  <li data-filter=".kitchen" class="filter">Building</li>
                </ul>
              </div>
              <!-- Start gallery image -->
              <div id="mixit-container" class="aa-gallery-body">
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix apartment">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/1.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/1.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>                  
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix garage">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/2.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/2.jpg' %}"><span class="fa fa-eye"></span></a>
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>                  

                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix livingroom">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/3.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/3.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix bedroom">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/4.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/4.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix apartment">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/5.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/5.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix livingroom">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/6.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/6.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix apartment">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/7.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/7.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>                  
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix garage">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/1.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/8.jpg' %}"><span class="fa fa-eye"></span></a>
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>                  

                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix livingroom">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/2.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/9.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix bedroom">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/3.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/10.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix kitchen">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/4.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/11.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
                <!-- start single gallery image -->
                <div class="aa-single-gallery mix livingroom">                  
                  <div class="aa-single-gallery-item">
                    <div class="aa-single-gallery-img">
                      <a href="#"><img src="{% static 'img/gallery/small/sm/5.jpg' %}" alt="img"></a>
                    </div>
                    <div class="aa-single-gallery-info">
                      <a class="fancybox" data-fancybox-group="gallery" href="{% static 'img/gallery/big/12.jpg' %}"><span class="fa fa-eye">
                      <a class="aa-link" href="#"><span class="fa fa-link"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}